form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin-left: 450px;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #666;
}

input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
}

input[type="submit"]:hover {
    background-color: #339e38;
}


/* Nút thoát màu đỏ */

input[type="button"] {
    background-color: #ff3333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

input[type="reset"] {
    background-color: #ff3333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #ccc;
}

input[type="button"]:hover,
input[type="reset"]:hover {
    background-color: #cc0000;
}