body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
}

.container-fluid {
    margin-left: -12px;
    width: 100%;
}

header {
    background-color: #171717;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 101%;
}

.navtong {
    height: 100%;
    width: 280px;
    background-color: #ffffff;
    padding-top: 0px;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.nav {
    height: 100%;
    width: 280px;
    overflow-x: hidden;
}

.nav-item {
    width: 280px;
    background-color: #ffffff;
}

.nav-item a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    border-radius: 1px solid #adadad;
    text-align: center;
}

.duoi {
    margin-top: 105px;
}

.nav-item p {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #088efb;
    border-radius: 1px solid #adadad;
    text-align: center;
    float: inline-end;
}

.nav-item a:hover {
    background-color: rgb(231, 123, 65);
    color: #ffffff;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    /* Ẩn menu con mặc định */
}

nav li :hover>ul {
    display: block;
    /* Hiển thị menu con khi rê chuột qua */
}

nav ul li {
    margin-bottom: 5px;
}

.nd {
    margin-left: -100px;
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

h2 {
    margin-top: 10px;
}

.bottom-buttons {
    text-align: left;
    /* Align the content to the center */
    /* Add some top margin for spacing */
    margin-bottom: 10px;
    margin-top: 10px;
}

.option {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: 1x rgb(245, 245, 245) solid;
}

.nutbtn {
    border-radius: 5px;
    border: 1px rgb(255, 255, 255) solid;
    color: #fbfbfb;
    background-color: #17b6ce;
}

.nutbtn:hover {
    background-color: #138496;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    padding-top: 20px;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.dropdown-btn {
    font-size: 18px;
    border: none;
    outline: none;
    color: #333;
    padding: 15px 20px;
    background-color: #FFFFFF;
    margin: 0;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    font-size: medium;
}

.dropdown-container {
    display: none;
    background-color: #f0f0f0;
    padding-left: 0px;
}

.dropdown-container a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.dropdown-container a:hover {
    color: #f1f1f1;
}

.sidebar.open {
    width: 250px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 16px;
    }
}